.header-container {
  max-width: 767px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.four-col {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.full-col {
  display: flex;
  width: 100%;
}

.flex {
  display: flex;
  flex-basis: 18em;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .main-container {
    max-width: 100%;
  }

  .header-container {
    max-width: 100%;
  }

  .four-col {
    padding: 0 0.75rem;
  }

  table {
    width: 60%;
  }
}
