* {
  box-sizing: border-box;
}

.header-container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.four-col {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 1511px;
  }

  .four-col {
    padding: 0 0.75rem;
  }
}
