h1,
h2,
h4,
a {
  font-family: "Shantell Sans", cursive;
  color: #1e2022;
}

td,
th {
  text-align: center;
}

a:hover {
  cursor: pointer;
}

h2:hover {
  cursor: pointer;
}

table {
  font-family: "Shantell Sans", cursive;
  color: #f0f5f9;
  font-size: 0.45rem;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

tr {
  border-bottom: 0.1rem solid #1e2022;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  width: 100%;
  justify-content: space-around;
}

label,
input {
  display: flex;
  flex-direction: column;
  font-family: "Shantell Sans", cursive;
  color: #1e2022;
  text-align: center;
  height: 2rem;
}

input {
  border-radius: 5px;
  border-style: none;
}

button {
  border-radius: 5px;
  border-style: none;
  width: 7rem;
  height: 2.5rem;
  font-family: "Shantell Sans", cursive;
  color: #1e2022;
  background-color: #c9d6df;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: -1rem;
}

thead > tr {
  border-bottom: 0.2rem solid #1e2022;
}

.converter-flex {
  flex-basis: 75%;
  margin-top: 4rem;
}

.converter-flex > input {
  margin-left: auto;
  margin-right: auto;
}

.center {
  justify-content: center;
  text-align: center;
}

.left {
  justify-content: center;
  margin-bottom: 2rem;
}

.main-container {
  background-color: #52616b;
  padding-bottom: 5rem;
}

.bitcoin-img {
  width: 3rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-top: 0.4rem;
}

.header-container {
  background-color: #c9d6df;
}

.hidden {
  display: none !important;
}

.fa-arrow-right-long {
  color: #c9d6df;
  padding-top: 3rem;
}

.fa-arrow-down-long {
  color: #c9d6df;
}

.card-container {
  padding: 2px 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container > p {
  color: #1e2022;
  font-family: "Shantell Sans", cursive;
  padding-bottom: 10px;
  text-align: center;
}

.card-wrapper > h3 {
  color: #1e2022;
  font-family: "Shantell Sans", cursive;
  text-align: center;
  text-decoration: underline;
}

.card-wrapper > p {
  color: #1e2022;
  font-family: "Shantell Sans", cursive;
  text-align: center;
}

.card-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #c9d6df;
  padding: 5px;
  flex-basis: 50%;
  margin: 10px;
}

.fa-minus {
  float: right;
  cursor: pointer;
}

.fa-plus {
  cursor: pointer;
}

#card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#converter-tab {
  margin-top: 1.6rem;
}

#wallet-tab {
  margin-top: 1.6rem;
}

#title {
  text-decoration: underline #1e2022;
}

#total-calculated {
  margin-top: -1rem;
  color: #f0f5f9;
  font-weight: lighter;
  padding-bottom: 6rem;
}

#total-worth {
  padding-right: 15rem;
}

#my-total {
  color: #c9d6df;
  margin-top: 5rem;
}

#total-amount {
  color: #f0f5f9;
  font-size: 3rem;
}

#my-wallet {
  color: #c9d6df;
  margin-left: 2rem;
}

@media screen and (min-width: 768px) {
  table {
    font-size: 1rem;
  }

  form {
    width: 50%;
  }

  .card-wrapper {
    flex-basis: calc(100% / 4);
  }

  #my-wallet {
    margin-left: 4rem;
  }
}
